.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-header {
  background-color: #1f2b5b;
  font-size: 4rem;
  font-weight: bolder;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-right: 50px;
}

.modal-content {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  height: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-button {
  position: absolute; /* 버튼을 절대 위치로 설정 */
  top: 50%; /* 수직 가운데 정렬 */
  right: 20px; /* 오른쪽 여백 설정 */
  height: 20px;
  transform: translateY(-50%); /* 수직 정렬을 정확히 하기 위해 */
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: white;
  display: flex; /* flexbox로 내부 내용 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.route-path-info {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.route-map {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 0; /* 패딩 제거 */
  gap: 0; /* 여백 제거 */
  overflow-y: auto;
  overflow-x: auto;
  width: 100%; /* 부모 요소의 100% 차지 */
  height: 100%; /* 부모 요소의 높이 모두 차지 */
  background-color: #f0f0f0;
  align-items: center; /* 지도 내부 정렬만 중앙으로 */
  justify-content: center;
  margin-bottom: 20px;
}

.route-line {
  display: flex;
  flex-wrap: nowrap;
  margin: 0.6rem;
}

.stop-group {
  display: flex;
  align-items: center;
}

.stop {
  position: relative; /* stop 요소에 상대 위치 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100px;
}

.stop-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #d6c682;
  position: relative;
}

.stop-name {
  position: absolute;
  top: -20px; /* 동그라미 위에 위치시키기 위해 위로 이동 */
  text-align: center;
  font-size: 14px;
  color: #333;
  width: 100%;
}

.route-line-connector {
  width: 20px;
  height: 2px;
  background-color: #ccc;
  flex-shrink: 0;
}

.bus-icon {
  position: absolute;
  top: -10px; /* 정류장 위에 표시되도록 위치 설정 */
  left: 50%;
  transform: translateX(-50%);
}

.bus-image {
  width: 34px;
}

.content-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100%;
}

.route-map {
  flex: 2; /* 왼쪽 노선 정보 */
  overflow-y: auto;
}

.station-info-panel {
  flex: 1; /* 오른쪽 정류장 및 버스 정보 */
  background-color: #f9f9f9;
  border-left: 1px solid #ccc;
  border-radius: 8px;
  overflow-y: auto;
  padding: 10px;
}

.carbon-calculator-panel {
  position: absolute;
  top: 5rem; /* Header 아래에 위치 */
  right: 1rem;
  z-index: 1000;
}
